.root {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.alignStretch {
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.noWrap {
  flex-wrap: nowrap;
}

.wrapReverse {
  flex-wrap: wrap-reverse;
}

.gapNone {
  gap: var(--spacing-none);
}

.gapXxs {
  gap: var(--spacing-xxs);
}

.gapXs {
  gap: var(--spacing-xs);
}

.gapSm {
  gap: var(--spacing-sm);
}

.gapMd {
  gap: var(--spacing-md);
}
.gapLg {
  gap: var(--spacing-lg);
}
.gap2Lg {
  gap: var(--spacing-lg2);
}
.gapXl {
  gap: var(--spacing-xl);
}

.gap2xl {
  gap: var(--spacing-2xl);
}

.gap3xl {
  gap: var(--spacing-3xl);
}

.gap4xl {
  gap: var(--spacing-4xl);
}

.gap5xl {
  gap: var(--spacing-5xl);
}

.gap6xl {
  gap: var(--spacing-6xl);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.black {
  background-color: var(--color-primary-2);
}

.standart {
  border-radius: var(--radius-lg);
}
